</main>
<footer>
  <section class="footerContactDetailes">
        <div class="logo-description">
          <div class="logo-img"><img src="images/RuSh_Elysian_Main_Blue_cropped.png"></div>
          <p>Rush Elysian Technologies, managed IT services are undoubtedly a cost-effective alternative or supplement
             to your in-house IT team. You can count on us because we are trusted, flexible, and credible!</p>
        </div>
        <div class="detailes">
          <div><a href="#">Our Story</a></div>
          <div><a href="#">Product and Services</a></div>
          <div><a href="#">Blog</a></div>
          <div><a href="#">Support</a></div>
          <div><a href="#">Contact us</a></div>
        </div>
        <div class="contact-detailes">
          <div>
            <p><b>Phone:</b>+91 9966609793 </p>
            <p><b>Address:</b>Unit No 203, 2nd Floor Suite No.443, HUDA Techno Enclave, Madhapur, Hyderabad - 500081 </p>
            <p><b>Website:</b>www.rushelysian.com </p>
            <p><b>Mail:</b>letstalk@rushelysian.com</p>
          </div> 
        </div>
  </section>
  <section class="footerSocialMedia">
    <div>
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </section>
  <section class="footer">
    <p>©2023 RuSh Elysian Technologies, All Rights Reserved. www.rushelysian.com</p>
  </section>
  </footer>
  
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>