</main>
<footer>
  <section class="footerContactDetailes">
        <div class="logo-description">
          <div ><img class="logo-img" src="images/RuSh_Elysian_Main_Blue_cropped.png"></div>
          <p>At Rush Elysian Technologies, our managed IT services offer cost-effective, trusted, flexible, and credible solutions, complementing your in-house team</p>
        </div>
        <div class="detailes">
          <div><a href="#">Our Story</a></div>
          <div><a href="/service">Product and Services</a></div>
          <div><a href="#">Blog</a></div>
          <div><a href="#">Support</a></div>
          <div><a href="/contact">Contact us</a></div>
        </div>
        <div class="contact-detailes">
          <div>
            <p><b><i class='fa fa-phone' ></i> :</b>+91 9966609793 </p>
            <p><b>Address:</b>Unit No 203, 2nd Floor Suite No.443, HUDA Techno Enclave, Madhapur, Hyderabad - 500081 </p>
            <p><b>Website:</b>www.rushelysian.com </p>
            <p><b>Mail:</b>letstalk@rushelysian.com</p>
          </div> 
        </div>
  </section>
  <section class="footerSocialMedia">
    <div>
      <a href="#"><i class="fa-brands fa-facebook fa-2xs"></i></a>
      <a href="#"><i class="fa-brands fa-twitter fa-2xs"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin fa-2xs"></i></a>
      <a href="#"><i class="fa-brands fa-instagram fa-2xs"></i></a>
    </div>
  </section>
  <section class="footer">
    <p>©2023 RuSh Elysian Technologies, All Rights Reserved.</p>
  </section>
</footer>
  
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>