</main>
<footer>
  <section class="footerContactDetailes">
        <div class="logo-description">
          <div class="logo-img" ><img class="logo-img" id="logoimg" src="images\home\RuSh_Elysian_Main_Blue_cropped.png"></div>
          <p>At Rush Elysian Technologies, our managed IT services offer cost-effective, trusted, flexible, and credible solutions, complementing your in-house team</p>
        </div>
        <div class="detailes">
          <div class="hover1"><a  href="#">Our Story</a></div>
          <div class="hover1"><a  href="/service">Product and Services</a></div>
          <div class="hover1"><a  href="#">Blog</a></div>
          <div class="hover1"><a  href="#">Support</a></div>
          <div class="hover1"><a  href="/contact">Contact us</a></div>
        </div>
        <div class="contact-detailes">
          <table>
            <tr>
              <td><i class='fa fa-phone' ></i></td>
              <td><span>+91 9966609793 </span></td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-location-dot"></i></td>
              <td><span>Unit No 203, 2nd Floor Suite
                No.443, HUDA Techno Enclave.Madhapur, Hyderabad - 500081</span></td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-earth-asia"></i></td>
              <td><span>www.rushelysian.com </span></td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-envelope"></i></td>
              <td><span>letstalk@rushelysian.com</span></td>
            </tr>
          </table>
          
            
          
          
        </div>
  </section>
  <section class="footerSocialMedia">
    <div >
      <div class="hover1"><a href="#"><i class="fa-brands fa-facebook fa-2xs"></i></a></div>
      <div class="hover1"><a href="#"><i class="fa-brands fa-twitter fa-2xs"></i></a></div>
      <div class="hover1"><a href="#"><i class="fa-brands fa-linkedin fa-2xs"></i></a></div>
      <div class="hover1"><a href="#"><i class="fa-brands fa-instagram fa-2xs"></i></a></div>
    </div>
  </section>
  <section class="footer">
    <p>©2023 RuSh Elysian Technologies, All Rights Reserved.</p>
  </section>
</footer>
  
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</section>
<script src="..\..\app.js"></script>
<script>
  // Fixing the footer logo w.r.t the theme/mode

document.addEventListener("DOMContentLoaded", function () {
    var logo = document.getElementById("logoimg");

    // Check if the theme preference is stored in localStorage.
    var themePreference = localStorage.getItem("theme");

    console.log("Theme Preference:", themePreference);

    // Set the initial theme based on the stored preference or default to light.
    if (themePreference === "dark") {
        document.body.classList.add("dark-theme");
        logo.src = "images/home/RuSh_Elysian_Main_white.png";
    } else {
        document.body.classList.remove("dark-theme");
        logo.src = "images/home/RuSh_Elysian_Main_Blue_cropped.png";
    }

    logo.onclick = function () {
        document.body.classList.toggle("dark-theme");
        if (document.body.classList.contains("dark-theme")) {
            logo.src = "images/home/RuSh_Elysian_Main_white.png";
            localStorage.setItem("theme", "dark");
        } else {
            logo.src = "images/home/RuSh_Elysian_Main_Blue_cropped.png";
            localStorage.setItem("theme", "light");
        }

        console.log("Theme Toggled:", document.body.classList.contains("dark-theme"));
    };
});
</script>
</body>

</html>