<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <title>RuSh Elysian Pvt Ltd</title>
  <link rel="icon" type="image/x-icon" href="images\RSE_Copy_Main_Square_fAVICON_CIRCLE.png">
</head>
<body>
<section>
<header>
  <nav class="top-nav">
    <div class="logo">
      <img src="images\RuSh_Elysian_Main_white.png">
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/service">Services</a></li>
      <!-- <li><a href="#">Careers</a></li> -->
      <li class="button"><a href="/contact">Contact us</a></li>
    </ul>
  </nav>
</header>
<main class="container">

     