<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- Link to Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- custom css link -->
  <link rel="stylesheet" href="/styles/layout.css" >
  <link rel="icon" type="image/x-icon" href="images\RSE_Copy_Main_Square_fAVICON_CIRCLE.png">
  <title>RuSh Elysian Pvt Ltd</title>
</head>
<body>
<section>
<header>
  <nav class="top-nav">
    <a class="active" href="/">
    <div class="logo">
      <img src="images\home\RuSh_Elysian_Main_Blue_cropped.png" id="logo">
    </div>
    </a>
    <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <!-- <li><a href="/">Home</a></li> -->
      <li><a class="nav-link" href="/about">About Us</a></li>
      <li><a class="nav-link" href="/service">Services</a></li>
      <!-- <li><a href="#">Careers</a></li> -->
      <li class="button"><a href="/contact">Contact us</a></li>
      <!-- <li><a href="#"><i class="fa-solid fa-toggle-off fa-lg" style="color: #01ffff;" id="icon"></i></a></li> -->
    </ul>
  </nav>
</header>
<!-- <script>
document.addEventListener("DOMContentLoaded", function () {
            var icon = document.getElementById("icon");
            
             Check if the theme preference is stored in localStorage.
            var themePreference = localStorage.getItem("theme");
            
             Set the initial theme based on the stored preference or default to light.
            if (themePreference === "dark") {
                document.body.classList.add("dark-theme");
                icon.classList.remove("fa-moon");
                icon.classList.add("fa-sun");
            } else {
              document.body.classList.remove("dark-theme");
                icon.classList.remove("fa-sun");
                icon.classList.add("fa-moon");
            }
            
            icon.onclick = function () {
                document.body.classList.toggle("dark-theme");
                if (document.body.classList.contains("dark-theme")) {
                    icon.classList.remove("fa-moon");
                    icon.classList.add("fa-sun");
                    localStorage.setItem("theme", "dark");
                } else {
                  icon.classList.remove("fa-sun");
                    icon.classList.add("fa-moon");
                    localStorage.setItem("theme", "light");
                }
            };
        });

 Fixing the header logo w.r.t the theme/mode

 document.addEventListener("DOMContentLoaded", function () {
     var logo = document.getElementById("logo");

     Check if the theme preference is stored in localStorage.
   var themePreference = localStorage.getItem("theme");

   Set the initial theme based on the stored preference or default to light.
    if (themePreference === "dark") {
        document.body.classList.add("dark-theme");
        logo.src = "images/home/RuSh_Elysian_Main_white.png";
    } else {
        document.body.classList.remove("dark-theme");
        logo.src = "images/home/RuSh_Elysian_Main_Blue_cropped.png";
    }
    Check for a specific condition, for example, when a button is clicked
document.getElementById("icon").addEventListener("click", function () {
     Perform your JavaScript actions that may change the page content
    ...

     Reload the page
    location.reload();
});

     
 });

</script>  -->
<main>