<%- include("partials/header.ejs") %>

<section class="container-21 spacing">
  <div class="content7">
      <h3>Contact us</h3>
      <p>We would love to hear from you! If you have any questions, inquiries, or would like to discuss a potential project, please get in touch with us. Our dedicated team is ready to assist you.</p>
  </div>
  <div class="img-8"><img src="images\contact\contact_us.png"></div>
</section>
<section class="container-22 spacing">
  <div class="contactUs-box">
      <p>Lets Get in touch</p>
      <div>
          <div class="img-9"><img src="images\contact\contact.png"></div>
          <div class="content8">
              <pre>Business Phone</pre>
              <p>Contact us: +91 9966609793</p>
          </div>
      </div>
      <div>
          <div class="img-9"><img src="images\contact\mail.png"></div>
          <div class="content8">
              <pre>E-Mail</pre>
              <p>Mail us : letstalk@rushelysian.com</p>
          </div>
      </div>
      <div>
          <div class="img-9"><img src="images\contact\location_2.png"></div>
          <div class="content8">
              <pre>Location</pre>
              <p>Address: Unit No 203, 2nd Floor Suite No.443,
                  HUDA Techno Enclave,
                  Madhapur, Hyderabad - 500081</p>
          </div>
      </div>
  </div>
  <div class="schedule-call-box">
      <p>Schedule A Free consultation</p>
      <form action="/subscribe" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="input-box1" required><br>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="input-box1" required><br>
    
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" class="input-box1" required><br>
    
        <label for="message">Message:</label>
        <textarea id="message" name="message" class="input-box2" required></textarea><br>
    
        <button type="submit">Contact Us</button>
    </form>
  
</section>
<section>
    <a href="https://us8.list-manage.com/contact-form?u=699fe41c0aca7b5aece28de01&form_id=12c060f2f01c65873614694c40a81579"><button>Contact us</button></a>
</section>
<section class="container-23 spacing">

</section>


<%- include("partials/footer.ejs") %>